<p id="notice"><%= notice %></p>
<%if current_user.try(:admin?)%>

<h3 align="center">Bienvenido
    <%=current_user.email%></h3>
<h4 align="center"><%= link_to 'Dar de Alta Nuevo Producto', new_product_path %></h4>
<%else%>
<h3 align="center">Productos Diseñados Para Tí</h3>
<% end%>

<br>

<div class="container">
  <div class="row">
  <% @products.each do |product| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
  <figure class="figure">
   <%= link_to image_tag(product.photo, class:"figure-img img-fluid rounded",class:"img-responsive",alt:"Click for info!"),product if product.photo? %>

    <div class="media-body">
  <figcaption class="figure-caption">
    <h4 class="mt-0"><%=product.name%></h4>
    <small><%=product.description%></small>
    <%if current_user.try(:admin?)%>
    <p><%= link_to 'Edit Stock or Product Info', edit_product_path(product) %></p>
    <% else %>
    <p><%= link_to 'Comprar', product%></p>
    <% end%>
    <br>
    <br>
    <br>

</figcaption>
 </figure>
 </div>
  <% end%>
  </div>
</div>
</body>
