
<p id="notice"><%= notice %></p>
<style>
table tbody tr td {
  font-family: 'Raleway', sans-serif;
}
</style>
<div align="center">
<h3 align="center"><%=@product.name%></h3>
<h4 align="center">Información del Producto</h3>
<br>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <%= image_tag(@product.photo) if @product.photo?%>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <table width="400" height="400">
                <tbody class="font1">
                    <tr>
                        <td align="center"><%= @product.name %></td>
                        <tr>
                            <td><%= @product.description %></td>
                            <tr>
                                <td>Categoría:</td>
                                <td align="center"><%= @product.category.name %></td>
                                <tr>
                                    <td>Tamaño:</td>
                                    <td align="center"><%= @product.size %></td>
                                    <tr>
                                        <td>Color:</td>
                                        <td align="center"><%= @product.color %></td>
                                        <tr>
                                            <td>Precio:</td>
                                            <td align="center"><%= @product.price %></td>
                                            <tr>

                                                <td>Stock:</td>
                                                <td align="center"><%  if @product.stock > 0 %>
                                                    Disponible
                                                    <% else %>
                                                    No Disponible al momento
                                                    <% end%>
                                                </td>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div align:"center">
                                <%if current_user.try(:admin?)%>
                                <p><%= link_to 'Edit Stock or Product Info', edit_product_path(@product) %></p>
                            <% else %>
                                <p><%= link_to 'Comprar', products_path%></p>
                                <% end%>
                                <%= link_to 'Back', products_path %>
                            </div>
                            </div>
